<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Natural Disasters</title>
    <script type="text/javascript"
      src="/javascript/main.js">
    </script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh_2chH9RaahEmC9RZLghAbFd1EweB6hk&libraries=visualization">
    </script>
    <style media="screen">
      body{
        height:100vh;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
