<%- include('./partials/header') %>
<div class="container">
  <div class="page-header">
    <h1>Natural Disaster API <small>Thousands of disasters at your finger tips</small></h1>
  </div>
</div>

<div class="container well">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#about">About</a></li>
    <li><a href="#how-to">How To Use</a></li>
    <li><a href="#specific-date"><small>- Specific Date Variables</small></a></li>
    <li><a href="#between-date"><small>- Between Date Variables</small></a></li>
    <li><a href="#universal"><small>- Universal Variables</small></a></li>
    <li><a href="#example">Example</a></li>
    <li><a href="#sources">Sources</a></li>
  </ul>

  <h3 id="about">About</h3>
  <p>
    This API is designed to gather thousands of natural disasters in one place.
  </p>
  <p>
    Each set of data is formatted in GeoJSON and contains latitude/longitude data, intended for use in the Google Maps API.
  </p>

  <h3 id="how-to">How To Use</h3>
  <pre>http://<%= locals.url %>/api/hurricanes?var1=x&amp;var2=y</pre>
  <h4 id="specific-date">Specific Date Variables</h4>
  <table class="table table-striped">
    <th class="col-xs-2">Variable</th><th class="col-xs-8">Description</th><th class="col-xs-2">Mongo equiv.</th>
    <tr>
      <td>year</td><td>Specifies the year to match on</td><td><var>"year"</var>: <var>x</var></td>
    </tr>
    <tr>
      <td>month</td><td>Specifies the month to match on</td><td><var>"month"</var>: <var>x</var></td>
    </tr>
    <tr>
      <td>day</td><td>Specifies the day to match on</td><td><var>"day"</var>: <var>x</var></td>
    </tr>
    <tr>
      <td colspan="3"><p class="text-danger"><strong>Note: </strong>Specific Dates cannot be used in conjunction with Between Dates.</p></td>
    </tr>
  </table>

  <h4 id="between-date">Between Date Variables</h4>
  <table class="table table-striped">
    <th class="col-xs-2">Variable</th><th class="col-xs-8">Description</th><th class="col-xs-2">Mongo equiv.</th>
    <tr>
      <td>yearStart</td><td>Searches for years greater than or equal to specified number</td><td><var>"year"</var>: { $gte: <var>x</var> }</td>
    </tr>
    <tr>
      <td>yearEnd</td><td>Searches for years less than or equal to specified number</td><td><var>"year"</var>: { $lte: <var>x</var> }</td>
    </tr>
    <tr>
      <td>monthStart</td><td>Searches for months greater than or equal to specified number</td><td><var>"month"</var>: { $gte: <var>x</var> }</td>
    </tr>
    <tr>
      <td>monthEnd</td><td>Searches for months less than or equal to specified number</td><td><var>"month"</var>: { $lte: <var>x</var> }</td>
    </tr>
    <tr>
      <td>dayStart</td><td>Searches for days greater than or equal to specified number</td><td><var>"day"</var>: { $gte: <var>x</var> }</td>
    </tr>
    <tr>
      <td>dayEnd</td><td>Searches for days less than or equal to specified number</td><td><var>"day"</var>: { $lte: <var>x</var> }</td>
    </tr>
    <tr>
      <td colspan="3"><p class="text-danger"><strong>Note: </strong>Specific Dates cannot be used in conjunction with Between Dates.</p></td>
    </tr>
  </table>

  <h4 id="universal">Universal Variables</h4>
  <table class="table table-striped">
    <th class="col-xs-2">Variable</th><th class="col-xs-8">Description</th><th class="col-xs-2">Mongo equiv.</th>
    <tr>
      <td>limit</td><td>Limits the number of returned data sets (Default: Unlimited)</td><td>.limit(<var>x</var>)</td>
    </tr>
  </table>

  <h3 id="example">Example</h3>
  <form >
    <div class="form-group">
      <label for="api-test">Input</label>
      <input id="api-test" class="form-control" type="text" value="http://<%= locals.url %>/api/hurricanes?year=2011&amp;month=06&amp;day=22">
    </div>
    <div class="form-group">
      <button id="api-test-btn" type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>

  <div class="">
    <pre id="api-test-output" style="height:300px;overflow-y:scroll;">[
    {
      "_id": "597c16a4e7ac8c1fd42980da",
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          105.9,
          19
        ]
      },
      "properties": {
        "category": "Hurricane",
        "name": "BEATRIZ",
        "year": "2011",
        "month": "6",
        "day": "22"
      }
    }
  ]</pre>
  </div>


<h3 id="sources">Sources</h3>
<table class="table">
  <th>Hurricanes</th><th>Earthquakes</th><th>Tsunamis</th>
  <tr>
    <td><a href="http://weather.unisys.com/hurricane/index.php">Unisys Weather</a></td>
    <td><a href="http://www.isc.ac.uk/iscgem/">ISC</a></td>
    <td>More sources!</td>
  </tr>
</table>
</div>

<%- include('./partials/footer') %>
